# Data Science Tools And Ecosystem

This notebook provides a comprehensive guide to key concepts in data science, including predictive analytics, digital transformation, unstructured data, and Hadoop's role in big data processing.

Some of the poular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Scikit-learn

 | Data Science Tools |
 | -------------|
 | Jupyter Notebook |
 | RStudio |
 | VS Code |

### Below are a few examples of evaluating arithmetic expression in Python

In [15]:
# Displaying a string message
"This a simple arithmetic expreeion to mutiply then add integers"
# Multiplication operation
(3*4)+5

17

In [16]:
# Displaying a String Message
"This will convert 200 minutes to hours by diving by 60"
# Multipication operation
200/60

3.3333333333333335

**Objective:**
- Python
- R
- SQL

## Author
Chan Tsz Lok